{% extends 'core/base.html' %}
{% block start %}
{% load static %}


<!-- Modal Search Start -->
<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content rounded-0">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Search by keyword</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex align-items-center">
                <div class="input-group w-75 mx-auto d-flex">
                    <input type="search" class="form-control p-3" placeholder="keywords"
                        aria-describedby="search-icon-1">
                    <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Search End -->


<!-- Single Page Header start
        <div class="container-fluid page-header py-5">
            <h1 class="text-center text-white display-6">Shop Detail</h1>
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item active text-white">Shop Detail</li>
            </ol>
        </div> -->
<!-- Single Page Header End -->
\

<!-- Single Product Start -->
<div class="container-fluid py-5 mt-5">
    <div class="container py-5">
        <div class="row g-4 mb-5">
            <div class="col-lg-8 col-xl-9">
                {% if final_result %}
                <div class="row g-4">

                    <div class="col-lg-6">
                        <div class="border rounded">
                            <a href="#">
                                <img src="{{ final_result.image.url }}" class="img-fluid rounded" alt="Image">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h4 class="fw-bold mb-3">{{ final_result.product_name }}</h4>
                        <p class="mb-3">Category: {{final_result.category}}</p>
                        <h5 class="fw-bold mb-3">₹{{final_result.price}}</h5>
                        <div class="d-flex mb-4">
                            <i class="fa fa-star text-secondary"></i>
                            <i class="fa fa-star text-secondary"></i>
                            <i class="fa fa-star text-secondary"></i>
                            <i class="fa fa-star text-secondary"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <p>{{ final_result.description}} </p>

                        <a href="{% url 'fruit_to_cart' final_result.id %}"
                            class="btn border border-secondary rounded-pill px-4 py-2 mb-4 text-primary"><i
                                class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                    </div>
                   

                </div>
                {% else %}

                <div class="row g-4">

                    {% for choice in Random_choicess%}
                    <div class="col-lg-6">
                        <div class="border rounded">
                            <a href="#">
                                <img src="{{ choice.image.url }}" class="img-fluid rounded" alt="Image">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h4 class="fw-bold mb-3">{{ choice.product_name }}</h4>
                        <p class="mb-3">Category: {{choice.category}}</p>
                        <h5 class="fw-bold mb-3">₹{{choice.price}}</h5>
                        <div class="d-flex mb-4">
                            <i class="fa fa-star text-secondary"></i>
                            <i class="fa fa-star text-secondary"></i>
                            <i class="fa fa-star text-secondary"></i>
                            <i class="fa fa-star text-secondary"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <p>{{ choice.description}} </p>

                        <a href="{% url 'fruit_to_cart' choice.id %}"
                            class="btn border border-secondary rounded-pill px-4 py-2 mb-4 text-primary"><i
                                class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                    </div>
                   
                    {% endfor %}

                </div>
                {% endif %}
            </div>
            <div class="col-lg-4 col-xl-3">
                <div class="row g-4 fruite">
                    <div class="col-lg-12">
                        <div class="input-group w-100 mx-auto d-flex mb-4">
                            <input type="search" class="form-control p-3" placeholder="keywords"
                                aria-describedby="search-icon-1">
                            <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
                        </div>
                        <div class="mb-4">


                        </div>
                    </div>
                    <div class="col-lg-12">
                        <h4 class="mb-4">Featured products</h4>
                        <div class="d-flex align-items-center justify-content-start">
                            <div class="rounded" style="width: 100px; height: 100px;">
                                <img src="{%static 'core/images/featur-1.jpg' %}" class="img-fluid rounded" alt="Image">
                            </div>
                            <div>
                                <h6 class="mb-2">Apple </h6>
                                <div class="d-flex mb-2">
                                    <i class="fa fa-star text-secondary"></i>
                                    <i class="fa fa-star text-secondary"></i>
                                    <i class="fa fa-star text-secondary"></i>
                                    <i class="fa fa-star text-secondary"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="d-flex mb-2">
                                    <h5 class="fw-bold me-2">₹200</h5>
                                    <h5 class="text-danger text-decoration-line-through">₹300</h5>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-start">
                            <div class="rounded" style="width: 100px; height: 100px;">
                                <img src="{%static 'core/images/featur-2.jpg' %}" class="img-fluid rounded" alt="">
                            </div>
                            <div>
                                <h6 class="mb-2">Strawberry </h6>
                                <div class="d-flex mb-2">
                                    <i class="fa fa-star text-secondary"></i>
                                    <i class="fa fa-star text-secondary"></i>
                                    <i class="fa fa-star text-secondary"></i>
                                    <i class="fa fa-star text-secondary"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="d-flex mb-2">
                                    <h5 class="fw-bold me-2">₹160</h5>
                                    <h5 class="text-danger text-decoration-line-through">₹200</h5>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-start">
                            <div class="rounded" style="width: 100px; height: 100px;">
                                <img src="{%static 'core/images/featur-3.jpg' %}" class="img-fluid rounded" alt="">
                            </div>
                            <div>
                                <h6 class="mb-2">broccoli</h6>
                                <div class="d-flex mb-2">
                                    <i class="fa fa-star text-secondary"></i>
                                    <i class="fa fa-star text-secondary"></i>
                                    <i class="fa fa-star text-secondary"></i>
                                    <i class="fa fa-star text-secondary"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="d-flex mb-2">
                                    <h5 class="fw-bold me-2">₹120</h5>
                                    <h5 class="text-danger text-decoration-line-through">₹200</h5>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-start">
                            <div class="rounded me-4" style="width: 100px; height: 100px;">
                                <img src="{%static 'core/images/vegetable-item-4.jpg' %}" class="img-fluid rounded"
                                    alt="">
                            </div>
                            <div>
                                <h6 class="mb-2">Bell Pepper </h6>
                                <div class="d-flex mb-2">
                                    <i class="fa fa-star text-secondary"></i>
                                    <i class="fa fa-star text-secondary"></i>
                                    <i class="fa fa-star text-secondary"></i>
                                    <i class="fa fa-star text-secondary"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="d-flex mb-2">
                                    <h5 class="fw-bold me-2">₹660</h5>
                                    <h5 class="text-danger text-decoration-line-through">₹700</h5>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-start">
                            <div class="rounded me-4" style="width: 100px; height: 100px;">
                                <img src="{%static 'core/images/vegetable-item-5.jpg' %}" class="img-fluid rounded"
                                    alt="">
                            </div>
                            <div>
                                <h6 class="mb-2">potato</h6>
                                <div class="d-flex mb-2">
                                    <i class="fa fa-star text-secondary"></i>
                                    <i class="fa fa-star text-secondary"></i>
                                    <i class="fa fa-star text-secondary"></i>
                                    <i class="fa fa-star text-secondary"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="d-flex mb-2">
                                    <h5 class="fw-bold me-2">₹25</h5>
                                    <h5 class="text-danger text-decoration-line-through">₹40</h5>
                                </div>
                            </div>
                        </div>
                       
                    
                    </div>
                    <div class="col-lg-12">
                        <div class="position-relative">
                            <img src="{%static 'core/images/banner-fruits.jpg' %}" class="img-fluid w-100 rounded"
                                alt="">
                            <div class="position-absolute" style="top: 50%; right: 10px; transform: translateY(-50%);">
                                <h3 class="text-secondary fw-bold">Fresh <br> Fruits <br> Banner</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h1 class="fw-bold mb-0">Related products</h1>
        <div class="tab-content">
            <!-- Fruits Tab -->
            <div class="tab-pane fade show active" id="tab-3">
                <div class="p-4 bg-light rounded">
                    {% for choice in Random_choicess %}
                    {% if choice.category == 'Fruits' %}
                    <h4>Fresh Fruits</h4>
                    <p>Explore a variety of fresh fruits including apples, bananas, oranges, and more.</p>
                    {% elif choice.category == 'Vegetables' %}

                    <h4>Organic Vegetables</h4>
                    <p>Check out our selection of fresh organic vegetables such as carrots, spinach, and
                        broccoli.</p>
                    {% endif %}

                    {% endfor %}

                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane fade show p-0 active">
                            <div class="row g-4">
                                {% for choice in Random_choicess%}
                                {% if choice.category == 'Fruits' %}
                                {% for obj in obj1 %}
                                <div class="col-md-6 col-lg-4 col-xl-3 d-flex">
                                    <div class="rounded position-relative fruite-item border border-secondary">
                                        <div class="fruite-img">
                                            <img src="{{ obj.image.url }}" alt="{{ fruit.product_name }}">
                                        </div>
                                        <div class="text-white bg-secondary px-3 py-1 rounded position-absolute"
                                            style="top: 10px; left: 10px;">Fruits</div>
                                        <div class="p-4 border-top-0 rounded-bottom mt-auto">
                                            <h4>{{ obj.product_name }}</h4>
                                            <p>{{ obj.description }}</p>
                                            <div class="d-flex justify-content-between flex-lg-wrap">
                                                <p class="text-dark fs-5 fw-bold mb-0">{{ obj.price }}</p>
                                                <a href="{% url 'fruit_to_cart' obj.id %}"
                                                    class="btn border border-secondary rounded-pill px-3 text-primary">
                                                    <i class="fa fa-shopping-bag me-2 text-primary"></i> Add
                                                    to cart
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                {% elif choice.category == 'Vegetables' %}
                                {% for obj in obj2 %}
                                <div class="col-md-6 col-lg-4 col-xl-3 d-flex">
                                    <div class="rounded position-relative fruite-item border border-secondary">
                                        <div class="fruite-img">
                                            <img src="{{ obj.image.url }}" alt="{{ fruit.product_name }}">
                                        </div>
                                        <div class="text-white bg-secondary px-3 py-1 rounded position-absolute"
                                            style="top: 10px; left: 10px;">Fruits</div>
                                        <div class="p-4 border-top-0 rounded-bottom mt-auto">
                                            <h4>{{ obj.product_name }}</h4>
                                            <p>{{ obj.description }}</p>
                                            <div class="d-flex justify-content-between flex-lg-wrap">
                                                <p class="text-dark fs-5 fw-bold mb-0">{{ obj.price }}</p>
                                                <a href="{% url 'fruit_to_cart' obj.id %}"
                                                    class="btn border border-secondary rounded-pill px-3 text-primary">
                                                    <i class="fa fa-shopping-bag me-2 text-primary"></i> Add
                                                    to cart
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                {% endif%}
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<!-- Single Product End -->

{% endblock %}