{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form in HTML and CSS | Codehal</title>
    <link rel="stylesheet" href="{% static 'account/style.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <div class="wrapper">
        <form method="post">
    {% csrf_token %}
    <h1>Sign In</h1>

    <div>
        {% if messages %}
        {% for message in messages %}
        <div class="message">{{message}}</div>
        {% endfor %}
        {% endif %}
        
   {% if not enter_otp and not request.GET.otp == "worng_otp" %}
        <div class="input-box">
            <input type="text" value="{{username}}" name="username" placeholder="username" required>
            <i class='bx bx-user'></i>
        </div>

        <div class="input-box">
            <input type="password" value="{{password}}" name="password" placeholder="password" required>
            <i class='bx bx-lock-alt'></i>
        </div>

        
     

        <button type="submit" class="btn">Sign In</button>
       

        <div class="register-link">
            <p>Don't have an account? <a href="/account/sign_up/">Sign Up</a></p>
        </div> 
        {% endif %}

</form>
{% if enter_otp or request.GET.otp == "worng_otp" %}
<form method="post" action="{% url 'verify_otp' %}">
    {% csrf_token %}
     <!-- ✅ New OTP Field Added -->
        <div class="input-box">
            <input type="text" name="otp" placeholder="Verify OTP" required>
            <i class='bx bx-shield'></i>
        </div>

        <button type="submit" class="btn">Sign In</button>
</form>
{% endif %}
    </div>
    </div>
</body>

</html>